@model DeleteArtistFormModel

@{
    ViewBag.Title = "Delete an Artist";
}

<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8 col-sm-12">
            <h2 class="text-center">@ViewBag.Title</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <textarea asp-for="Name" class="form-control" placeholder="Name of an Artist to delete"></textarea>
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <input class="btn btn-primary" type="submit" value="Delete" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
