@model SongLyricsViewModel

<div class="card">
    <label>Lyrics:</label>
    <textarea readonly rows="10" cols="80">@Model.Lyrics</textarea>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

