<h4>Feedbacks</h4>
<a asp-area="" asp-controller="Feedbacks" asp-action="Add" class="btn btn-primary float-left ml-1">Give Feedback</a>
<a asp-area="" asp-controller="Feedbacks" asp-action="All" class="btn btn-primary float-right ml-1">See all Feedbacks</a>
