@model BecomePartnerFormModel

@{
    ViewBag.Title = "Become a Partner";
}

<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8 col-sm-12">
            <h2 class="text-center">@ViewBag.Title</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Your company name here">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BusinessEmail"></label>
                    <input asp-for="BusinessEmail" class="form-control" placeholder="Your business email here">
                    <span asp-validation-for="BusinessEmail" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Website"></label>
                    <input asp-for="Website" class="form-control" placeholder="Your website here">
                    <span asp-validation-for="Website" class="small text-danger"></span>
                </div>

                <input class="btn btn-primary" type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
