@model ArtistSongsViewModel

<div class="card">

    @if (Model.SongTitles.Count() > 0)
    {
        <label>Songs:</label>
        var counter = 1;
        foreach (var song in Model.SongTitles)
        {
            <a readonly>@counter) @song</a>
            counter++;
        }
    }
    @if (Model.SongTitles.Count() == 0)
    {
        <label>This artist has no songs!</label>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
